/* .primary__container {
  margin-left: 2rem;
  display: Grid;
  grid-template-columns: 40% 60%;
  grid-gap: 1rem;
} */

.contact__media {
  background: rgba(0, 0, 0, 0.3);
  color: var(--color-white);
  margin-bottom: 3rem;
  height: max-content;
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-radius: 2rem;
  backdrop-filter: blur(15px);
  border-radius: 2rem;
  width: 30vw;
}

.contact__media:hover {
  background: transparent;
  transition: var(--transition);
}

.form {
  display: flex;
  margin-right: 2rem;
  flex-direction: column;
  margin-left: 1rem;
  padding: 2rem;
}

.error {
  color: #ff3f34;
  display: block;
  padding: 2px 0;
}
