.container {
  margin-left: 2rem;
}

.contact__media {
  color: var(--color-white);
  height: max-content;
  width: 50%;
  display: column;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 2rem;
}

.contact__media:hover {
  background: transparent;
  transition: var(--transition);
}

.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.error {
  color: #ff3f34;
  display: block;
  padding: 2px 0;
}

.details {
  display: flex;
  justify-content: center;
}
