.container {
  height: 100vh;
  padding-top: 2rem;
  color: var(--color-white);
  top: 10vw;
  bottom: 40vw;
  font-size: 150%;
}

/*-----------cta------------*/
.cta {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

/*-----------header socials------------*/

.header__socials {
  background: rgba(0, 0, 0, 0.3);
  padding: 0.7rem 1.7rem;
  backdrop-filter: blur(15px);
  border-radius: 3rem;
  width: "max-content";
  display: "flex";
  position: "right";
  right: "5vw";
}
.header__socials > a {
  margin: 1rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 3rem;
  color: var(--color-primary);
  visibility: visible;
}

/*----------------ME-----------------*/
