nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  padding: 0.7rem 0.7rem;
  position: fixed;
  left: 5%;
  transform: translate(-50%);
  top: 20%;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  /* margin-top: 5rem; */
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

nav a.active {
  background: var(--color-bg);
  color: var(--color-white);
}

@media only screen and (max-width: 800px) {
  nav {
    left: 50%;
    right: 50%;
    top: 80%;
  }

  nav a {
    display: inline-block;
  }
  /*Tablets [601px -> 1200px]*/
}
